//기본사항 불러오기
@import "./reset.scss";
@import "./variable.scss";
@import "./mixin.scss";


//폰트 - 프리텐다드 (100~900) 사용가능
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

//타이틀 폰트
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

//쇼핑몰 이사만루 폰트
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//쇼핑몰 원티드산스 폰트
@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

html{
    font-size : 62.5%; //10px
    letter-spacing: -0.02em;
}
body{
    font-family: 'Pretendard Variable', sans-serif;
    word-break: keep-all;
    color: var(--main-text);
    box-sizing: border-box;
}
button,input,label{
    font-family: 'Pretendard Variable', sans-serif;
    color: inherit;
}