#contact{
    position: relative;
    width: 95%;
    height: 90vh;
    background-color: var(--main-point);
    margin-bottom: 5vh;
    h3{
        font-size: $sub-title;
        position: absolute;
        top: 50%;
        left: 3rem;
        transform: translateY(-50%);
    }
    span{
        color: var(--dp-sub-point);
    }
    .contact-info{
        position: absolute;
        bottom: 5%;
        left: 3rem;
        display: flex;
        gap: 2rem;
        .title{
            li{
                padding: 0.5rem;
                font-size: $main-big;
                text-align: right;
            }
        }
        .my-info{
            li{
                padding: 0.5rem 0;
                font-size: $main-big;
                font-weight: bold;
            }
        }
    }
}